{# header #}
{{ include("NAEPlateformBundle:Expo:header.html.twig") }}

{# Nav-Left #}
{{ include("NAEPlateformBundle:Expo:nav.html.twig") }}
{# END Nav-Left #}

<div class="container-fluid header_article">
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-md-offset-1 books">

                <h1 class="text-center">{{ 'New Art Expo\n'|nl2br }}<span class="titlestyle">{{ 'evênement' |upper }}</span></h1>

            </div>

            <div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-4 col-lg-7 col-lg-offset-5 col-sm-8 col-sm-offset-4">
                            <ul class="list-inline social-buttons text-center col-lg-1 col-md-1 col-sm-2 col-xs-4">
                                <li><a href="#" target="_blank"><span class="fa fa-twitter"></span></a>
                                </li>
                            </ul>
                            <ul class="list-inline social-buttons text-center col-lg-1 col-md-1 col-sm-2 col-xs-4">
                                <li><a href="#" target="_blank"><span class="fa fa-facebook"></span></a>
                                </li>
                            </ul>
                            <ul class="list-inline social-buttons text-center col-lg-1 col-md-1 col-sm-2 col-xs-4">
                                <li><a href="#" target="_blank"><span class="fa fa-instagram"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-6 col-md-offset-2 article_content">
            <h2>{{ article.title }}</h2>

            <p class="text-justify">{{ article.text }}</p>


        </div>

        <div class="col-md-3 dernieresphotos">
            <h2>{{ 'quelques photos'|upper }}</h2>
            <img src="{{ asset('bundles/naeplateform/images/articles/1.jpg') }}" alt="Image News 1" class="img-responsive">
            <img src="{{ asset('bundles/naeplateform/images/articles/2.jpg') }}" alt="Image News 1" class="img-responsive">
            <img src="{{ asset('bundles/naeplateform/images/articles/3.jpg') }}" alt="Image News 1" class="img-responsive">
            <img src="{{ asset('bundles/naeplateform/images/articles/4.jpg') }}" alt="Image News 1" class="img-responsive">
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 col-md-offset-2 otherarticle">

            <h2>{{ 'Vous allez aimer ces articles'|upper }}</h2>

            <div class="row">

            <div class="col-md-6">
                <p class="date">28 novembre 2014</p>
                <h3>{{ aricleOne.text }}</h3>
                <p>{{ aricleOneDescription.text }}</p>
            </div>

            <div class="col-md-6">
                <p class="date">28 novembre 2014</p>
                <h3>{{ aricleTwo.text }}</h3>
                <p>{{ aricleTwoDescription.text }}</p>
            </div>

            </div>

        </div>
    </div>
</div>


{# footer #}

{{ include("NAEPlateformBundle:Expo:footer.html.twig") }}