{# Include #}
{{ include("NAEPlateformBundle:Expo:header.html.twig") }}


{# Header #}
<header>
    <div class="menu">
        <div class="box-nav-top">
            <img class="ico-nav" src="{{ asset('bundles/naeplateform/images/icons/menu.png') }}">
        </div>
        <ul class="nav-left">
            <li id="about">
                <a>
                    QU'EST CE QUE NAE ?
                </a>
            </li>
            <li id="find">
                <a>
                    RECHERCHE
                </a>
            </li>
            <li id="profil">
                <a>
                    MON PROFIL
                </a>
            </li>
            <li id="books">
                <a>
                    LISTE DES BOOKS
                </a>
            </li>
            <li id="expo">
                <a>
                    EXPO VIRTUELLE
                </a>
            </li>
            <li id="shop">
                <a>
                    LA BOUTIQUE
                </a>
            </li>
            <li id="contact">
                <a>
                    CONTACT
                </a>
            </li>
            <li id="cvg">
                <a>
                    CVG
                </a>
            </li>
            <li id="share">
                <a>
                    PARTAGER
                </a>
            </li>
            <div class="box-nav-bottom">
                <li id="back-top">
                    <a>
                        RETOUR VERS LE HAUT
                    </a>
                </li>
            </div>
        </ul>
    </div>
</header>
{# End Header #}

{# Title & Search fields#}
<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 books">
            <h1 class="text-center">{{ 'New Art Expo\n'|nl2br }}<span class="titlestyle"> Tous les books</span></h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-7 col-md-offset-1">
            <div class="searchbooks">
                <form>
                    <input id="recherche" type="text" placeholder="Effectuer une recherche" required>
                </form>
            </div>
        </div>
        <div class="col-md-1 iconloupe">
            <form>
                <input type="image" src="{{ asset('bundles/naeplateform/images/icons/loupe.png') }}" alt="Submit">
            </form>
        </div>
        <div class="col-md-3">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    Trier par : les + vues
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="white">Trier par : les + partagés</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="white">Trier par : les + récents</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="white">Trier par : les + anciens</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{# End Title & Search fields#}

        {# Filtre latéral #}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 filtre">
            <p class="text-center">Filtrer par</p>

            <div class="dropdown dropdown2">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    Catégories
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="white">Street Art</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="white">Toile</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="white">Dessin</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="white">OKLM</span></a></li>
                </ul>
            </div>

            <div class="dropdown dropdown3">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    Pays
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="white">France</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="white">Pays-Bas</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="white">Allemagne</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="white">Belgique</span></a></li>
                </ul>
            </div>
        </div>


        <div class="col-md-8">
            <div class="row imagebooks">

                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/1.jpg') }}" class="img-responsive"></a>
                </div>
                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/2.jpg') }}" class="img-responsive"></a>
                </div>
                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/3.jpg') }}" class="img-responsive"></a>
                </div>
                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/4.jpg') }} " class="img-responsive"></a>
                </div>

            </div>
        </div>
    </div>
</div>

{# Images étage 1 sans le hover (responsive) #}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <div class="row imagebooksnohover">

                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/1.jpg') }}" class="img-responsive"></a>
                </div>
                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/2.jpg') }}" class="img-responsive"></a>
                </div>
                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/3.jpg') }}" class="img-responsive"></a>
                </div>
                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/4.jpg') }} " class="img-responsive"></a>
                </div>

            </div>
        </div>
    </div>
</div>
{# End Images étage 1 sans le hover (responsive) #}


<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <div class="row imagebooks">

                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/1.jpg') }}" class="img-responsive"></a>
                </div>
                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/2.jpg') }}" class="img-responsive"></a>
                </div>
                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/3.jpg') }}" class="img-responsive"></a>
                </div>
                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/4.jpg') }} " class="img-responsive"></a>
                </div>

            </div>
        </div>
    </div>
</div>

{# Images étage 2 sans le hover (responsive) #}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <div class="row imagebooksnohover">

                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/1.jpg') }}" class="img-responsive"></a>
                </div>
                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/2.jpg') }}" class="img-responsive"></a>
                </div>
                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/3.jpg') }}" class="img-responsive"></a>
                </div>
                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/4.jpg') }} " class="img-responsive"></a>
                </div>

            </div>
        </div>
    </div>
</div>
{# End Images étage 2 sans le hover (responsive) #}

{#<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <div class="row">

                <div class="col-md-3 contentbooks">

                    <h2>Thierry Michau</h2>
                    <h3>Artiste Peintre</h3>
                    <p>Paris, France</p>

                </div>
                <div class="col-md-3 contentbooks">
                    <h2>Thierry Michau</h2>
                    <h3>Artiste Peintre</h3>
                    <p>Paris, France</p>
                </div>
                <div class="col-md-3 contentbooks">
                    <h2>Nico Vincent</h2>
                    <h3>Photographe</h3>
                    <p>Allemagne</p>

                </div>
                <div class="col-md-3 contentbooks">
                    <h2>Werner Pans</h2>
                    <h3>Artiste Peintre</h3>
                    <p>Belgique</p>
                </div>

            </div>
        </div>
    </div>
</div>#}


<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <div class="row imagebooks">

                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/1.jpg') }}" class="img-responsive"></a>
                </div>
                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/2.jpg') }}" class="img-responsive"></a>
                </div>
                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/3.jpg') }}" class="img-responsive"></a>
                </div>
                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/4.jpg') }} " class="img-responsive"></a>
                </div>

            </div>
        </div>
    </div>
</div>

    {# Images étage 3 sans le hover (responsive) #}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <div class="row imagebooksnohover">

                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/1.jpg') }}" class="img-responsive"></a>
                </div>
                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/2.jpg') }}" class="img-responsive"></a>
                </div>
                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/3.jpg') }}" class="img-responsive"></a>
                </div>
                <div class="col-xs-3">
                    <a href=""><img src="{{ asset('bundles/naeplateform/images/books/4.jpg') }} " class="img-responsive"></a>
                </div>

            </div>
        </div>
    </div>
</div>
    {# End Images étage 3 sans le hover (responsive) #}

        {# End Filtres latéral #}

<script>
    $('#recherche').click(function(){
        $(this).css('border','none');
    });
</script>