{# Include #}
{{ include("NAEPlateformBundle:Expo:header.html.twig") }}


{# Nav-Left #}
{{ include("NAEPlateformBundle:Expo:nav.html.twig") }}
{# END Nav-Left #}

{# Title & Search fields#}
<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 topnae">
            <h1 class="text-center">{{ 'Conditions générales\n'|nl2br }}<span class="titlestyle"> CVG </span></h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
            <div class="barre center-block"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 nae">

            <h2 class="text-center">Mentions légales</h2>

            <p>Directeurs de la publication : {{ editor.text }}.</p>

            <p>Dénomination sociale : {{ businessName.text }}</p>

            <p>Contact mail : {{ mail.text }}</p>

            <p>CNIL : {{ CNIL.text }}</p>


            <h2 class="text-center">Conditions générales d’utilisation</h2>

            <h3 class="text-center"> PREAMBULE :</h3>

            <p class="text-center">Nos artistes ont ainsi la capacité :</p>

            <p class="text-center">- {{ firstCap.text }}</p>
            <p class="text-center">- {{ secondCap.text }}</p>
            <p class="text-center">- {{ thirdCap.text }}</p>
            <p class="text-center">- {{ fourthCap.text }}</p>
            <p class="text-center">- {{ fifthCap.text }}</p>
            <p class="text-center">- {{ sixthCap.text }}</p>
            <p class="text-center">- {{ seventhCap.text }}</p>
            </p>

            <h2 class="text-center">Comment avez-vous eu cette idée ?</h2>

            <p class="text-center">{{ idea.text }}</p>

            <h2 class="text-center">Quels sont vos objectifs aujourd’hui ?</h2>

            <p class="text-center">Les objectifs sont les suivants :

            <p class="text-center">- {{ firstObj.text }}</p>
            <p class="text-center">- {{ secondObj.text }}</p>
            <p class="text-center">- {{ thirdObj.text }}</p>
            <p class="text-center">- {{ fourthObj.text }}</p>
            <p class="text-center">- {{ fifthObj.text }}</p>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
            <div class="barrenae">
            </div>
        </div>
    </div>
</div>

{{ include("NAEPlateformBundle:Expo:footer.html.twig") }}
