<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}NewArtExpo{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="{{ asset('bundles/naeplateform/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/naeplateform/css/style.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/naeplateform/css/component.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/naeplateform/css/fonts.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/naeplateform/css/left-menu.css') }}" type="text/css"/>




        {# Link ico temporaire #}
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    {% endblock %}
    <script src="{{ asset('bundles/naeplateform/js/ckeditor/ckeditor.js')}}"></script>
    <script src="{{ asset('bundles/naeplateform/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/naeplateform/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/naeplateform/js/bootstrap.js') }}"></script>

    <script src="{{ asset('bundles/naeplateform/js/hover.zoom.js') }}"></script>
    <script src="{{ asset('bundles/naeplateform/js/hover.zoom.conf.js') }}"></script>

    <script src="{{ asset('bundles/naeplateform/js/jquery.superslides.min.js') }}"></script>

    <script src="{{ asset('bundles/naeplateform/js/modernizr.custom.js')}}"></script>
    <script src="{{ asset('bundles/naeplateform/js/toggle-nav.js')}}"></script>

    <script src="{{ asset('bundles/naeplateform/js/masonry.pkgd.min.js')}}"></script>


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <div class="alert alert-info" style="z-index: 45; position: relative; margin-bottom: 0px">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Information  :</strong> Le site est actuellement en maintenance. Celle-ci va durée plusieurs jours.
        Veuillez nous excuser pour la gêne occasionnée et merci de votre compréhension.
        Pour tout renseignement, avis ou critique,  n'hésitez pas à nous contacter.
        juba.oumaza@gmail.com.
          #EquipeNewartexpo
    </div>
</head>

