{# src/NAE/PlatformBundle/Resources/views/Default/index.html.twig #}
{{ include("NAEPlateformBundle:Expo:header.html.twig") }}

    {# Big header avec slider #}
    <header class="row monheader">
        <div class="logo col-md-4 col-md-offset-6 col-sm-4 col-sm-offset-6 col-xs-4 col-xs-offset-6">
        </div>
        <div class="col-md-1 col-xs-2 mynav">

        </div>
        <div class="col-md-11 col-xs-10 slider">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ asset('bundles/NAE/images/image_slider_1.png') }}" alt="image1">
                        <div class="carousel-caption">
                            <p>mon image 1</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/NAE/images/image_slider_2.jpg') }}" alt="image2">
                        <div class="carousel-caption">
                            <p>mon image 2</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/NAE/images/image_slider_3.jpg') }}" alt="image3">
                        <div class="carousel-caption">
                            <p>mon image 3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav2">
            <div class="col-md-3 navartiste"></div>
            <div class="col-md-3 navboutique"></div>
            <div class="col-md-3 navexpovirtuel"></div>
            <div class="col-md-2 navcoupcoeur"></div>
        </div>
    </header>
    {# End Big Header #}

        {# What is NAE #}
        <div class="row fond">
        	<h2 class="text-center contentpres"><span class="titreNAEpres">Qu'est ce que<br></span>Nfff  Art Expo ?</h2>
        	<hr>
        	<div class="container">
        		<div class="row">
        			<div class="col-md-4 col-md-offset-4">
			        	<p class="text-center contentpres">NewArtExpo est un site communautaire d'artistes plasticiens plasiticens, et permet d'exposer l'ensemble de leurs travaux sur leurs propres espaces.</p>
			        	<p class="text-center contentpres">NAE permet aux artistes de disposer d'un book performant et gratuit tout en se délestant de la partie de création du site</p>
			        </div>
			    </div>
			</div>
        	<p class="text-center under_contentpres">Nous permettons ainsi à nos artistes d'établir un curriculum vitae artistique disponible à tout moment de leurs parcours</p>
        </div>
        {# End What is NAE #}

        {# Parallax #}
        <div class=" row parallax">
        	<div class="container">
        		<div class="row">
        			<div class="col-md-4 col-md-offset-4">
	        			<p class="text-center"><button type="button" class="btn btn-default btnpara">En savoir +</button></p>
	        		</div>
	        	</div>
        	</div>
        </div>
        {# End Parallax #}

        {# News #}
        <div class="fond">
        	<h2 class="text-center contentpres"><span class="titreNAEpres">Nos dernières<br></span>News</h2>
        	<hr>
        	<div class="container">
        		<div class="row">
        			<div class="col-md-4 col-md-offset-1">
        				<p class="littledate">28/10/2014</p> {# ici mettre variable twig pour la date de l'article #}
        				<h3 class="titlenews">New Art Expo et MM6 présente "ETE D'AMOUR", avec James Friedman (Thrones of Blood)</h3>
        				<p class="text-left contentnews">Nous avons le plaisir de vous invitez à la soirée "Eté d'Amour", ce mardi. Nous seront ravis de vous accueillir afin de vous présenter les nouveaux artistes autour d'un verre et d'une performance artistique unique</p>
        				<img src="{{ asset('bundles/NAE/images/5.jpg') }}" class="img-responsive block-center">
        			</div>

        			<div class="col-md-4 col-md-offset-1 newsaside">
        				<p class="littledate">28/10/2014</p>  {# ici mettre variable twig pour la date de l'article #}
        				<h4 class="titlenews">New Art Expo et MM6 présente "ETE D'AMOUR", avec James Friedman (Thrones of Blood)</h4>
        				<p class="text-left contentnews">Nous avons le plaisir de vous invitez à la soirée "Eté d'Amour", ce mardi. Nous seront ravis de vous accueillir afin de vous présenter les nouveaux artistes autour d'un verre et d'une performance artistique unique</p>
        				<img src="{{ asset('bundles/NAE/images/3.jpg') }}" class="img-responsive block-center">
        			</div>
        		</div>
        	</div>
        </div>
        {# End News #}

<script type="javascript">
    $('.carousel').carousel({
        interval: 2000
    })
</script>
</body>

{{ include("NAEPlateformBundle:Expo:footer.html.twig") }}
