{# src/NAE/PlatformBundle/Resources/views/Default/index.html.twig #}
{{ include("NAEPlateformBundle:Expo:header.html.twig") }}

    {# Big header avec slider #}
    <header class="row monheader">
        <div class="logo col-md-4 col-md-offset-6 col-sm-4 col-sm-offset-6 col-xs-4 col-xs-offset-6">
        </div>
        <div class="col-md-1 col-xs-2 mynav">

        </div>
        <div class="col-md-11 col-xs-10 slider">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ asset('bundles/NAE/images/image_slider_1.png') }}" alt="image1">
                        <div class="carousel-caption">
                            <p>mon image 1</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/NAE/images/image_slider_2.jpg') }}" alt="image2">
                        <div class="carousel-caption">
                            <p>mon image 2</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/NAE/images/image_slider_3.jpg') }}" alt="image3">
                        <div class="carousel-caption">
                            <p>mon image 3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav2">
            <div class="col-md-3 navartiste">
                <li class="navbar-top">
                          <a href="">Artiste</a>
                </li>
            </div>
            <div class="col-md-3 navboutique">
                <li class="navbar-top">
                          <a href="">Boutique</a>
                </li>
            </div>
            <div class="col-md-3 navexpovirtuel">
                <li class="navbar-top">
                          <a href="">Expo Virtuel</a>
                </li>
            </div>
            <div class="col-md-2 navcoupcoeur">
                <li class="navbar-top">
                          <a href="">Coup de coeur</a>
                </li>
            </div>
        </div>
    </header>
    {# End Big Header #}

    <div class="row col-md-11 col-md-offset-1 nomdevotrediv">
        <h1 class="text-center"><span class="title">Qu'est ce que</span><br> New Art Expo?</h1>
        <hr>
        <p class="text-center content">NewArtExpo est un site communautaire d'artistes plasticiens plasiticens, et permet d'exposer l'ensemble de leurs travaux sur leurs propres espaces.</p>
        <p class="text-center content">NAE permet aux artistes de disposer d'un book performant et gratuit tout en se délestant de la partie de création du site</p>
        <p class="text-center content">Nous permettons ainsi à nos artistes d'établir un curriculum vitae artistique disponible à tout moment de leurs parcours</p>
    </div>
    <div class="row col-md-11 nomduneautrediv">
        {# c'est dans ces div que vous mettez le contenue vu que que le menu fait un col-md-1 et donc il reste 11 colonnes #}
    </div>
    <div class="row col-md-11 nomdunediv">
        {# c'est dans ces div que vous mettez le contenue vu que que le menu fait un col-md-1 et donc il reste 11 colonnes #}
    </div>

<script type="javascript">
    $('.carousel').carousel({
        interval: 2000
    })
</script>
</body>

{{ include("NAEPlateformBundle:Expo:footer.html.twig") }}
