{# src/NAE/PlatformBundle/Resources/views/Expo/index.html.twig #}
{{ include("NAEPlateformBundle:Expo:header.html.twig") }}

{# Header : Nav / Slider #}

<header>
     <div id="menu">
         <div class="box-nav-top">
            <img class="ico-nav" src="{{ asset('bundles/naeplateform/images/icons/menu.png') }}">
         </div>
         <ul class="nav-left">
             <li id="about">
                 <a>
                     QU'EST CE QUE NAE ?
                 </a>
             </li>
             <li id="find">
                 <a>
                     RECHERCHE
                 </a>
             </li>
             <li id="profil">
                 <a>
                     MON PROFIL
                 </a>
             </li>
             <li id="books">
                 <a>
                     LISTE DES BOOKS
                 </a>
             </li>

             <li id="expo">
                 <a>
                     EXPO VIRTUELLE
                 </a>
             </li>
             <li id="shop">
                 <a>
                     LA BOUTIQUE
                 </a>
             </li>
             <li id="contact">
                 <a>
                     CONTAECT
                 </a>
             </li>
             <li id="cvg">
                 <a>
                     CVG
                 </a>
             </li>
             <li id="share">
                 <a>
                     PARTAGER
                 </a>
             </li>
         <div class="box-nav-bottom">
             <li id="back-top">
                 <a>
                     RETOUR VERS LE HAUT
                 </a>
             </li>
         </div>
         </ul>
     </div>
</header>


{# End Header : Nav / Slider #}


{# What is NAE #}
<div class="container">
    <div class="row">
        <div class="presnae">
            <h1 class="text-center">{{ 'Qu\'est ce que\n'|nl2br }}<span class="titlestyle"> New Art Expo ?</span></h1>

            <div class="row col-md-6 col-md-offset-3">
                <div class="barre center-block"></div>
            </div>

            <div class="col-md-8 col-md-offset-2">
                <p class="content text-center">NewArtExpo est un site communautaire d'artistes plasticiens plasiticens, et permet d'exposer l'ensemble de leurs travaux sur leurs propres espaces.</p>
                <p class="content text-center">NAE permet aux artistes de disposer d'un book performant et gratuit tout en se délestant de la partie de création du site</p>
                <p class="undercontent text-center">Nous permettons ainsi à nos artistes d'établir un curriculum vitae artistique disponible à tout moment de leurs parcours</p>
            </div>
        </div>
    </div>
</div>
{# End What is NAE #}


{# Parallax #}
<div class="container-fluid">
    <div class="row">
        <div class="parallax">
            <a href="#"><button type="button" class="btn btn-default center-block">En savoir +</button></a>
        </div>
    </div>
</div>
{# End Parallax #}


{# News #}
<div class="container">
    <div class="row">
        <div class="news">
            <h1 class="text-center">{{ 'Nos dernières\n'|nl2br }}<span class="titlestyle"> News</span></h1>

            <div class="row col-md-6 col-md-offset-3">
                <div class="barre center-block"></div>
            </div>

        </div>
    </div>
</div>
{# End News #}


{# Artiste / Oeuvre du jour #}

{# End Artiste / Oeuvre du jour #}


{# Recherche #}
<div class="container">
    <div class="row">
        <div class="news">
            <h1 class="text-center">{{ 'Rechercher\n'|nl2br }}<span class="titlestyle"> un artiste</span></h1>

            <div class="row col-md-6 col-md-offset-3">
                <div class="barre center-block"></div>
            </div>

        </div>
    </div>
</div>
{# End recherche #}


{# Galerie #}

{# End Galerie #}


{# Footer Website #}

{# End Footer Website #}


</body>


{{ include("NAEPlateformBundle:Expo:footer.html.twig") }}
