{# src/NAE/PlatformBundle/Resources/views/Default/index.html.twig #}
{{ include("NAEPlateformBundle:Expo:header.html.twig") }}

    {# Big header avec slider #}
    <header class="row monheader">
        <div class="logo col-md-4 col-md-offset-6 col-sm-4 col-sm-offset-6 col-xs-4 col-xs-offset-6">
        </div>
        <div class="col-md-1 col-xs-2 mynav">

        </div>
        <div class="col-md-11 col-xs-10 slider">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ asset('bundles/NAE/images/image_slider_1.png') }}" alt="image1">
                        <div class="carousel-caption">
                            <p>mon image 1</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/NAE/images/image_slider_2.jpg') }}" alt="image2">
                        <div class="carousel-caption">
                            <p>mon image 2</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/NAE/images/image_slider_3.jpg') }}" alt="image3">
                        <div class="carousel-caption">
                            <p>mon image 3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav2">
            <div class="col-md-3 navartiste"></div>
            <div class="col-md-3 navboutique"></div>
            <div class="col-md-3 navexpovirtuel"></div>
            <div class="col-md-2 navcoupcoeur"></div>
        </div>
    </header>
    {# End Big Header #}
    {# What is NAE #}
    <div class="row col-md-11 col-md-offset-1">
        <h1>Qu'est ce que<br><span class="titlestyle"> New Art Expo?</span></h1>
        <hr>
        <p class="content">NewArtExpo est un site communautaire d'artistes plasticiens plasiticens, et permet d'exposer l'ensemble de leurs travaux sur leurs propres espaces.</p>
        <p class="content">NAE permet aux artistes de disposer d'un book performant et gratuit tout en se délestant de la partie de création du site</p>
        <p class="content undercontent">Nous permettons ainsi à nos artistes d'établir un curriculum vitae artistique disponible à tout moment de leurs parcours</p>
    </div>
    {# End What is NAE #}

    {# Parallax / Bouton #}
    <div class="row col-md-11 col-md-offset-1 parallax">
        <a href="#"><button type="button" class="btn btn-default center-block button">En savoir +</button></a>
    </div>
    {# End Parallax / Bouton #}

    {# News #}
    <div class="row col-md-11 col-md-offset-1 news">
        <h1>Nos dernières<br><span class="titlestyle"> News</span></h1>

            <div class="row col-md-5">
                <p class="datenews">28/10/2014</p>
                <h2>New Art Expo et MM6  présente “ÉTÉ D'AMOUR”, avec James Friedman (Throne of Blood)</h2>
                <p class="undercontent">Nous avons le plaisir de vous inviter à la soirée “Été d’Amour” ce mardi. Nous serons ravis de vous accueillir afin de vous présenter les nouveaux artistes autour d'un verre et d'une performance artistique unique.</p>
                <img src="{{ asset('bundles/NAE/images/4.jpg') }}" alt="Image News 1" class="img-responsive">
                <p class="newslink"><a href="#">Lire Plus</a></p>
            </div>

            <div class="row col-md-5 col-md-offset-1 secondarynews">
                <p class="datenews">28/10/2014</p>
                <h3>New Art Expo et MM6  présente “ÉTÉ D'AMOUR”, avec James Friedman (Throne of Blood)</h3>
                <p class="undercontent">Nous avons le plaisir de vous inviter à la soirée “Été d’Amour” ce mardi. Nous serons ravis de vous accueillir afin de vous présenter les nouveaux artistes autour d'un verre et d'une performance artistique unique.</p>
                <img src="{{ asset('bundles/NAE/images/5.jpg') }}" alt="Image News 2" class="img-responsive">
                <p class="newslink"><a href="#">Lire Plus</a></p>
            </div>

            <div class="row col-md-5">
            </div>

            <div class="row col-md-5 col-md-offset-1 secondarynews">
                <p class="datenews">11/02/2014</p>
                <h3>Bientôt ! Un évenement signé NAE</h3>
                <p class="undercontent">Nous proposons aux visiteurs une traversée à l’intérieur de soi dont l’espace d’exposition serait la métaphore. Cette immense odyssée, tant physique que psychique, invite à traverser deux niveaux du Palais de Tokyo métamorphosé par les artistes.</p>
                <img src="{{ asset('bundles/NAE/images/2.jpg') }}" alt="Image News 3" class="img-responsive">
                <p class="newslink"><a href="#">Lire Plus</a></p>
            </div>

            <div class="row col-md-11 col-md-offset-1 newsbutton">
                <p class="content"><a href="#"><button type="button" class="btn btn-default">Lire tous les billets</button></a><p>
            </div>
    </div>
    {# End News #}

    {# Artiste/Oeuvre du jour #}
    <div class="row col-md-11 col-md-offset-1 artiste">
        <h1>Artiste<br><span class="titlestyle"> du jour</span></h1>
        <hr>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="content">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div class="row col-md-5 col-md-offset-1 artistejour">
        <h3 class="titleartiste">Artiste du jour</h3>
        <h2 class="nameartiste">Pascal Cherchiario</h2>
        <p class="contentartiste">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>

    <div class="row col-md-5 oeuvrejour">
        <h3 class="titleartiste">Oeuvre du jour</h3>
        <h2 class="nameartiste">Romuald Merceaux</h2>
        <p class="contentartiste">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
    {# End Artiste/Oeuvre #}

    {# Recherche #}
    <div class="row col-md-11 col-md-offset-1 artiste">
        <h1>Rechercher<br><span class="titlestyle"> un article</span></h1>
        <hr>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="content">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div class="col-md-3 col-md-offset-2 search">
        <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputName3" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="" placeholder="">
            </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="" placeholder="Pseudo">
            </div>
        </div> 
        </form>
    </div>         
    {# End Recherche #}

<script type="javascript">
    $('.carousel').carousel({
        interval: 2000
    })
</script>
</body>

{{ include("NAEPlateformBundle:Expo:footer.html.twig") }}