{# Include #}
{{ include("NAEPlateformBundle:Expo:header.html.twig") }}

{# Nav-Left #}
{{ include("NAEPlateformBundle:Expo:nav.html.twig") }}
{# END Nav-Left #}

{# Title & Search fields#}
<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 topnae">
            <h1 class="text-center">{{ 'Qu\'est ce que\n'|nl2br }}<span class="titlestyle"> New Art Expo ?</span></h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
            <div class="barre center-block"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 nae">

            <p class="text-center">{{ intro.text }}</p>

            <h2 class="text-center">Pourquoi avoir crée cette plateforme ?</h2>

            <p class="text-center">{{ whyNaeIntro.text }}

                Nos artistes ont ainsi la capacité :

                <p class="text-center">- {{ whyNaeFirstCap.text }}</p>
                <p class="text-center">- {{ whyNaeSecondCap.text }}</p>
                <p class="text-center">- {{ whyNaeThirdCap.text }}</p>
                <p class="text-center">- {{ whyNaeFourthCap.text }}</p>
                <p class="text-center">- {{ whyNaeFiftCap.text }}</p>
                <p class="text-center">- {{ whyNaeSixthCap.text }}</p>
                <p class="text-center">- {{ whyNaeSeventhCap.text }}</p>
            </p>

            <h2 class="text-center">Comment avez-vous eu cette idée ?</h2>

            <p class="text-center">{{ ideaIntro.text }}</p>

            <h2 class="text-center">Quels sont vos objectifs aujourd’hui ?</h2>

            <p class="text-center">Les objectifs sont les suivants :

                <p class="text-center">- {{ firstObj.text }}</p>
                <p class="text-center">- {{ secondObj.text }}</p>
                <p class="text-center">- {{ thirdObj.text }}</p>
                <p class="text-center">- {{ fourthObj.text }}</p>
                <p class="text-center">- {{ fifthObj.text }}</p>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
            <div class="barrenae">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 topcontact">
            <h1 class="text-center"><span class="titlestyle"> Contact</span></h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
            <div class="barre center-block"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 contact">

            <p class="text-center">Tantum autem cuique tribuendum, primum quantum ipse efficere possis,
                deinde etiam quantum ille quem diligas atque adiuves, sustinere. Non enim neque tu possis,
                quamvis excellas, omnes tuos ad honores.
            </p>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 formcontact">

            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <div class="form-group">
                        <label for="inputName3" class="col-sm-2 control-label"></label>
                        <div>
                            <input type="text" class="form-control" id="" placeholder="NOM, PRENOM">
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label"></label>
                        <div>
                            <input type="text" class="form-control" id="" placeholder="Mail">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 formcontact">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label"></label>
                        <div>
                            <input type="text" class="form-control" id="" placeholder="Sujet">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-11 col-md-offset-1">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="center-block"><textarea class="form-control contactmessage" rows="12" placeholder="Message"></textarea></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 newsbutton">
            <p class="text-center"><a href="#"><button type="button" class="btn btn-default buttonred">Envoyer</button></a><p>
        </div>
    </div>
</div>
{# footer #}

{{ include("NAEPlateformBundle:Expo:footer.html.twig") }}
