{# header #}
{{ include("NAEPlateformBundle:Expo:header.html.twig") }}

{# Header : Nav / Slider #}
{# Nav-Left #}
<header>
    <div class="menu">
        <div class="box-nav-top">
            <img class="ico-nav" src="{{ asset('bundles/naeplateform/images/icons/menu.png') }}">
        </div>
        <ul class="nav-left">
            <li id="about">
                <a>
                    QU'EST CE QUE NAE ?
                </a>
            </li>
            <li id="find">
                <a>
                    RECHERCHE
                </a>
            </li>
            <li id="profil">
                <a>
                    MON PROFIL
                </a>
            </li>
            <li id="books">
                <a>
                    LISTE DES BOOKS
                </a>
            </li>
            <li id="expo">
                <a>
                    EXPO VIRTUELLE
                </a>
            </li>
            <li id="shop">
                <a>
                    LA BOUTIQUE
                </a>
            </li>
            <li id="contact">
                <a>
                    CONTACT
                </a>
            </li>
            <li id="cvg">
                <a>
                    CVG
                </a>
            </li>
            <li id="share">
                <a>
                    PARTAGER
                </a>
            </li>
            <div class="box-nav-bottom">
                <li id="back-top">
                    <a>
                        RETOUR VERS LE HAUT
                    </a>
                </li>
            </div>
        </ul>
    </div>
</header>
{# END Nav-Left #}
        <header class="profile">
            <section class="text-center" id="artist">
                {# artist    image #}
                <img src="{{ asset('bundles/naeplateform/images/1.jpg') }}" alt="André Le Corre" class="img-circle img-responsive center-block">
                {# artist name #}
                <h1> André Le Corre </h1>
                <h2 class="titleProfile">El Cor</h2>
                {# location #}
                <p><span class="fa fa-map-marker"></span> Paris, FRANCE</p>
                {# Mail #}
                <p><span class="fa fa-envelope"></span> CONTACT@ELCOR.COM</p>

                <div class="row col-md-offset-4 col-lg-offset-5 col-sm-offset-4 col-xs-offset-0">
                    <ul class="list-inline social-buttons text-center col-lg-1 col-md-1 col-sm-2 col-xs-4">
                        <li><a href="#" target="_blank"><span class="fa fa-twitter"></span></a>
                        </li>
                    </ul>
                    <ul class="list-inline social-buttons text-center col-lg-1 col-md-1 col-sm-2 col-xs-4">
                        <li><a href="#" target="_blank"><span class="fa fa-facebook"></span></a>
                        </li>
                    </ul>
                    <ul class="list-inline social-buttons text-center col-lg-1 col-md-1 col-sm-2 col-xs-4">
                        <li><a href="#" target="_blank"><span class="fa fa-instagram"></span></a>
                        </li>
                    </ul>
                </div>
            </section>
        </header>

    <div class="container col-md-11 col-md-offset-1">
        {# Section Biography #}
        <section id="biography">
            <h1 class="text-center profileTitle">Biographie</h1>
            <div class="lineTitle"></div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis tristique laoreet. Aliquam eget dui tristique, consequat mauris in, sollicitudin ipsum. Quisque molestie sit amet enim eget euismod. Nulla tortor ipsum, efficitur quis scelerisque ac, condimentum nec tortor. Praesent condimentum rutrum lacus, eget condimentum tortor semper non. In malesuada massa erat, non vestibulum magna congue eget. Praesent maximus lectus massa, quis posuere justo luctus non. Integer nec bibendum diam.

                Praesent porttitor, elit vitae mollis scelerisque, ante elit blandit augue, ut eleifend ante orci sit amet erat. Quisque eget pulvinar justo. Vivamus quis molestie tortor. Praesent pharetra dignissim mi a pulvinar. Proin quis libero nec neque suscipit tincidunt sit amet finibus magna. Proin sodales eros ac magna scelerisque facilisis. Vivamus convallis lectus tempor eros volutpat mattis.

                Aenean quis dictum nisl. Mauris malesuada ornare molestie. Duis et nisi accumsan, rhoncus odio vel, pharetra leo. Quisque dapibus et felis vel vestibulum. Nulla finibus nulla in luctus porta. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis quis mollis metus. Vestibulum ut libero nec metus consectetur ultricies pulvinar in est. Sed at ex ante.
            </p>
        </section>
        {# section last work #}
        <section id="lastwork">
            <h5 class="titleProfile">{{ 'dernieres oeuvres :' | upper }}</h5>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-3">
                    <img src="{{ asset('bundles/naeplateform/images/1.jpg') }}" alt="" class="img-rounded img-responsive img-padding"/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3">
                    <img src="{{ asset('bundles/naeplateform/images/2.jpg') }}" alt="" class="img-rounded img-responsive img-padding"/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3">
                    <img src="{{ asset('bundles/naeplateform/images/3.jpg') }}" alt="" class="img-rounded img-responsive img-padding"/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3">
                    <img src="{{ asset('bundles/naeplateform/images/1.jpg') }}" alt="" class="img-rounded img-responsive img-padding"/>
                </div>
            </div>
        </section>
        {# Actuality #}
        <section id="actuality">
            <h5 class="titleProfile">{{ 'Actualités :' | upper }}</h5>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <p class="actualityText">10.10.2014</p>
                    <h5 class="subtitleTextActuality ">&quot; De l'amour dans la peinture. &quot;</h5>
                    <p class="actualityText">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat leo eget elit eleifend condimentum id sed massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultrices odio lectus, nec aliquet lorem fermentum non. Nunc mollis ornare lorem, at sagittis ligula vestibulum eu. Etiam fringilla dui nec.
                    </p>
                    <a href="#" class="actualityLien">site web</a>
                </div>
                <div class="col-md-6 col-lg-6">
                    <p class="actualityText">10.10.2014</p>
                    <p class="actualityText">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat leo eget elit eleifend condimentum id sed massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultrices odio lectus, nec aliquet lorem fermentum non. Nunc mollis ornare lorem, at sagittis ligula vestibulum eu. Etiam fringilla dui nec.
                    </p>
                </div>
            </div>
        </section>
        {# Section portfolio #}
        <section id="portfolio">
            <div class="text-center">
                <h3>EL COR</h3>
                <h2>{{ 'portefolio' | upper }}</h2>
            </div>
            <div class="lineTitle"></div>
            <div class="text-center">
                <h4 class="activeProfile inlineOption"> TOUS </h4>
                <h4 class="inlineOption"> 2015 </h4 >
                <h4 class="inlineOption"> 2014 </h4>
                <h4 class="inlineOption"> 2013 </h4>
            <h4 class="inlineOption"> 2012</h4>
                <h4 class="inlineOption"> 2011</h4>
            </div>
            {#<ul class="center-block menuPortfolio">
                <li><a href="#">Tous</a></li>
                <li><a href="#">2015</a></li>
                <li><a href="#">2014</a></li>
                <li><a href="#">2013</a></li>
                <li><a href="#">2012</a></li>
            </ul>#}
        </section>
    </div>
<img src="{{ asset('bundles/naeplateform/images/gallery-profile/image-1.jpg') }}" alt="image galerie">
<img src="{{ asset('bundles/naeplateform/images/gallery-profile/image-2.jpg') }}" alt="image galerie">
<img src="{{ asset('bundles/naeplateform/images/gallery-profile/image-3.jpg') }}" alt="image galerie">
<img src="{{ asset('bundles/naeplateform/images/gallery-profile/image-4.jpg') }}" alt="image galerie">
<img src="{{ asset('bundles/naeplateform/images/gallery-profile/image-5.jpg') }}" alt="image galerie">

    <div class="container-fluid galeriedesktop ">
        <div class="row">
            <div class="col-md-11 col-md-offset-1 gallery">
                <div class="row etage1">
                    <div class="col-md-3 image1">
                        <img src="{{ asset('bundles/naeplateform/images/1.jpg') }}" alt="image galerie">
                    </div>
                    <div class="col-md-4 image2">
                        <img src="{{ asset('bundles/naeplateform/images/5.jpg') }}" alt="image galerie">
                    </div>

                    <div class="col-md-5 pull-right image3">
                        <img src="{{ asset('bundles/naeplateform/images/1.jpg') }}" alt="image galerie">
                    </div>
                </div>
                <div class="row etage2">
                    <div class="col-md-7 image4">
                        <img src="{{ asset('bundles/naeplateform/images/4.jpg') }}" alt="image galerie">
                    </div>

                    <div class="col-md-5 image5">
                        <img src="{{ asset('bundles/naeplateform/images/3.jpg') }}" alt="image galerie">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1">
                    <a href="#"><button type="button" class="btn btn-default center-block">{{ 'Charger plus d\'oeuvre' | upper }}</button></a>
            </div>
        </div>
    </div>
{# footer #}
{{ include("NAEPlateformBundle:Expo:footer.html.twig") }}